.color {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lock {
  background: none;
  border: 0;
  outline: 0;
}

.lock:hover {
  color: #fff;
  background: none;
  border: 0;
}
